<div class="editing_head">
  <h2>Editing <%= current_user.try(:username) %></h2>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%= devise_error_messages! %>

<div class="form-col-left">
  <%= f.label :email %>
</div>
<div class="form-col-right">    
  <%= f.email_field :email, autofocus: true %>
</div>
<br>
<br>
<div class="form-col-left">
  <%= f.label :name, "Name: " %>
</div>
<div class="form-col-right">
  <%= f.text_field :name, autofocus: true %>
</div>
<br>
<br>
<div class="form-col-left">
  <%= f.label :username, "Username: " %>
</div>
<div class="form-col-right">
  <%= f.text_field :username %>
</div>
<br>
<br>
<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
<% end %>
<div class="password_inputs_longer">
  <%= f.label :password, "Password & Confirmation" %> <i>(optional)</i>
</div>
<div class="form-col-left">
  <%= f.password_field :password, autocomplete: "off" %>
</div>
<div class="form-col-right">
  <%= f.password_field :password_confirmation, autocomplete: "off" %>
</div>
<br>
<br>
<br>
<br>
<div class="form-col-left">
  <%= f.label :current_password %> <i>(Confirm Changes)</i>:
</div>
<div class="form-col-right">
  <%= f.password_field :current_password, autocomplete: "off" %>
</div>
<br>
<br>
<div class="registration_links">
  <%= link_to "Cancel", :back %> | <%= f.submit "Update" %>
</div>
<% end %>
<div class="registration_links">
  <br>
  <br>
  <small>Unhappy with our site? <%= button_to "Delete My Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></small>
</div>
