<div>
<%= form_for(@show_review) do |f| %>
<%= f.label :title, 'Review Title:' %>
<%= f.text_field :title %><br />
<%= f.label :show_id %>
<%= f.select :show_id, Show.all.map { |c| [c.name, c.id] } %><br />
<%= f.label :description, 'Review:' %>
<%= f.text_field :description %><br />


Rating
<span class="rating">
  <% (1..5).to_a.reverse.each do |rating| %>
    <%= f.radio_button :rating, rating, class: 'rating-input' %>
    <%= f.label "rating_#{rating}", nil, class: 'rating-star' %>
  <% end %>
</span>

<br />
  <%= f.submit %>
</div>

<% end %>