<img class="bg" src="<%= @show_review.show.show_img %>" alt="">
<div class="show_info_area sia_small">
    <h3><%= @show_review.title %></h3>
    <p><%= @show_review.show.name %></p>
    <p><strong>Rating: </strong>

      <% (1..(@show_review.rating)).each do  %>
      <%= image_tag 'https://s3-eu-west-1.amazonaws.com/uploads-eu.hipchat.com/407672/2786203/R2CuT5tfe09UFZq/twostars%20-%20solo%20full.png' %>
      <% end %>
      <% (1..(5 - @show_review.rating)).each do  %>
      <%= image_tag 'https://s3-eu-west-1.amazonaws.com/uploads-eu.hipchat.com/407672/2786203/CNHbLD4LjJuoFQz/twostars%20-%20solo%20empty.png' %>
      <% end %>
    </p>
    <% if user_signed_in? %>
    <p><%= @show_review.description %></p>
    <% else %>
    <p><%= "#{@show_review.description[0...5]}..."  %>
      <button id='read_more'>Read More</button></p>
      <% end %>
      <p>Submitted by <%= @show_review.user.try(:username) %> on <%= (@show_review.created_at).strftime("%d %B %Y") %></p>

      <%= link_to('Edit', edit_show_review_path(@show_review), class: "show_info_area_button-edit") if can? :manage, Show  %><%= link_to 'Back', show_reviews_path, class: "show_info_area_button-back remove_button_margin" %>

  </div>