<div>
<p><%= @show_review.show.name %></p>
  <p><%= "★"*@show_review.rating %><%= "☆"*(5 - @show_review.rating) %><strong><%= @show_review.title %></strong></p>
  <p>By <%= @show_review.user.email %> on <%= (@show_review.created_at).strftime("%d %B %Y") %></p>
  <p><%= @show_review.description %></p>

  <div class="menu">
    <ul>
    <li><strong><%= link_to 'Edit', edit_show_review_path(@show_review) if can? :manage, Show  %></strong></li>
    <li><strong><%= link_to 'Back', show_reviews_path %></strong></li>
    </ul>

  </div>

</div>