<img class="bg" src="http://i252.photobucket.com/albums/hh27/OZ-Insanity/theater_zpstxpof3ik.jpg" alt="">
<br>
<div class="show_info_area sia_small">
<div class="show_info_area_right">
<img src="/site_images/default-user-image.png" style="width:50%;border-radius:50%;">
</div>
<div class="show_info_area_left higher_profile">
<p><strong>Username: </strong><%= current_user.username %></p>
<p><strong>Name: </strong><%= current_user.name %></p>
<p><strong>Email: </strong><%= current_user.email %></p>
</div>
<%= current_user.try(:location) %>
<div class="edit_profile_link">
  <%= link_to "Edit Profile", edit_user_registration_path %>
</div>
</div>