<div class="box box-4">
  <%= venue.name %>
  <%= image_tag venue.venue_img.gridlist.url, class: "thumbnail" %>
  <%= button_to('Show', venue, method: :get)%>
  <%= button_to('Edit', edit_venue_path(venue), method: :get ) if can? :manage, Venue %>
  <%= button_to('Delete venue', venue_path(venue), method: :delete, data:{confirm: 'Delete the schedule? Are you sure?'}) if can? :delete, Venue %>
</div>