<div>
  <p><strong>Venue Name:</strong><%= @venue.name %></p>

  <p><%= link_to image_tag(@venue.venue_img.medium.url) %></p>

  <p><strong>Location: </strong><%= @venue.location %></p>

  <div class="menu">
    <ul>
    <li><strong><%= link_to 'Edit', edit_venue_path(@venue) %></strong></li>
    <li><strong><%= link_to 'Back', venues_path %></strong></li>
    </ul>

  </div>

</div>