<img class="bg" src="<%= @venue.venue_img %>" alt="">
<br>
<div class="show_info_area sia_tall">
  <div class="show_info_area_right map-go-right">
    <div class="venue_location_section">
      <div style='width: 475px;'>
        <div id="map-canvas" data-venue-id="<%= @venue.id  %>" style='width: 475px; height: 356.25px;'>
        </div>
      </div>
    </div>
  </div>
    <div class="show_info_area_left more_left_area">
      <div class="show_venue_content">
        <h1><%= @venue.name %></h1>
        <%= @venue.location %>
        <br>
        <br>
        <%= link_to image_tag(@venue.venue_img.medium.url) %>
      </div>

      <div class="venue_show_buttons">
        <%= link_to('Edit', edit_venue_path(@venue), class: "show_info_area_button-edit") if can? :update, Venue %>
        <%= link_to('Back', venues_path, class: "show_info_area_button-back") %>
      </div>
    </div>
  </div>