<img class="bg" src="http://i252.photobucket.com/albums/hh27/OZ-Insanity/theater_zpstxpof3ik.jpg" alt="">
<div class="show_info_area">
<br>
<%= @venue.name %>
<%= link_to image_tag(@venue.venue_img.medium.url) %>
<%= @venue.location %>

  <div style='width: 400px;'>
    <div id="map-canvas" data-venue-id="<%= @venue.id  %>" style='width: 400px; height: 300px;'></div>
  </div>
  
  <%= link_to 'Edit', edit_venue_path(@venue) if can? :update, Venue %>
  <%= link_to 'Back', venues_path %>

  </div>