<%= form_for(@venue_review) do |f| %>
<div class="review-col-left">
<%= f.label :title, 'Review Title:' %>
</div>
<div class="review-col-right">
<%= f.text_field :title, :size=>"88" %>
</div>
<br>
<div class="review-col-left">
<%= f.label :venue_id %>
</div>
<div class="review-col-right">
<%= f.select :venue_id, Venue.all.map { |c| [c.name, c.id] } %>
</div>
<br>
<div class="review-col-left">
<%= f.label :description, 'Review:' %>
</div>
<div class="review-col-right">
<%= f.text_area :description %>
</div>
<br>
<div class="form-col-left">
Accessibility
<span class="rating">
  <% (1..5).to_a.reverse.each do |accessibility| %>
    <%= f.radio_button :accessibility, accessibility, class: 'rating-input' %>
    <%= f.label "accessibility_#{accessibility}", nil, class: 'rating-star' %>
  <% end %>
</span><br />
Acoustics
<span class="rating">
  <% (1..5).to_a.reverse.each do |acoustics| %>
    <%= f.radio_button :acoustics, acoustics, class: 'rating-input' %>
    <%= f.label "acoustics_#{acoustics}", nil, class: 'rating-star' %>
  <% end %>
</span><br />
Cleanliness
<span class="rating">
  <% (1..5).to_a.reverse.each do |cleanliness| %>
    <%= f.radio_button :cleanliness, cleanliness, class: 'rating-input' %>
    <%= f.label "cleanliness_#{cleanliness}", nil, class: 'rating-star' %>
  <% end %>
</span><br />
Lighting
<span class="rating">
  <% (1..5).to_a.reverse.each do |lighting| %>
    <%= f.radio_button :lighting, lighting, class: 'rating-input' %>
    <%= f.label "lighting_#{lighting}", nil, class: 'rating-star' %>
  <% end %>
</span><br />
</div>
<div class="form-col-right">
Location
<span class="rating">
  <% (1..5).to_a.reverse.each do |location| %>
    <%= f.radio_button :location, location, class: 'rating-input' %>
    <%= f.label "location_#{location}", nil, class: 'rating-star' %>
  <% end %>
</span><br />
Parking
<span class="rating">
  <% (1..5).to_a.reverse.each do |parking| %>
    <%= f.radio_button :parking, parking, class: 'rating-input' %>
    <%= f.label "parking_#{parking}", nil, class: 'rating-star' %>
  <% end %>
</span><br />
Seating
<span class="rating">
  <% (1..5).to_a.reverse.each do |seating| %>
    <%= f.radio_button :seating, seating, class: 'rating-input' %>
    <%= f.label "seating_#{seating}", nil, class: 'rating-star' %>
  <% end %>
</span><br />
</div>
  <center><%= f.submit "Complete", class: "create_review_button" %></center>
</div>

<% end %>