<%= venue_review.title %> </br>
<%= venue_review.venue.try(:name) %> </br>
<%= "★"*venue_review.average_rating %><%= "☆"*(5 - venue_review.average_rating) %>
<p>
  <%= button_to('Show', venue_review, method: :get) %>
  <%#= button_to('Edit', edit_venue_review_path(venue_review), method: :get)  %>
  <%#= button_to('Delete', venue_review_path(venue_review), method: :delete) %>

  <%= button_to('Edit', edit_venue_review_path(venue_review), method: :get ) if can? :update, VenueReview %>
  <%= button_to('Delete', venue_review_path(venue_review), method: :delete, data:{confirm: 'Delete the schedule? Are you sure?'}) if can? :delete, VenueReview %>
</p>