<div>
  <p><strong><%= @venue_review.title %></strong></p>
  <p>Where: <%= @venue_review.venue.name %></p>
  <p>Description: <%= @venue_review.description %></p>
  <p>Accessibility: <%= @venue_review.accessibility %></p>
  <p>Acoustics: <%= @venue_review.acoustics %></p>
  <p>Cleanliness: <%= @venue_review.cleanliness %></p>
  <p>Lighting: <%= @venue_review.lighting %></p>
  <p>Location: <%= @venue_review.location %></p>
  <p>Parking: <%= @venue_review.parking %></p>
  <p>Seating: <%= @venue_review.seating %></p></br>
  <p>Average Rating: <%= @venue_review.average_rating %></p>


  <div class="menu">
    <ul>
    <li><strong><%= link_to 'Edit', edit_venue_review_path(@venue_review) %></strong></li>
    <li><strong><%= link_to 'Back', venue_reviews_path %></strong></li>
    </ul>

  </div>

</div>