<%= form_for(@show) do |f| %>
<div class="form-col-left">
<%= f.label :name, 'Show Name:' %>
</div>
<div class="form-col-right">
<%= f.text_field :name %>
</div>
<br>
<br>
<div class="form-col-left">
<%= f.label :category_id %>
</div>
<div class="form-col-right">
<%= f.select :category_id, Category.all.map { |c| [c.name, c.id] } %>
</div>
<br>
<br>
<div class="form-col-left">
<%= f.label :date, 'Date:' %>
</div>
<div class="form-col-right">
<%= f.datetime_select :date %>
</div>
<br>
<br>
<div class="form-col-left">
<%= f.label :show_img, 'Show Image' %>
</div>
<div class="form-col-right">
<%= f.file_field :show_img %>
</div>
<br>
<br>
  <center><%= f.submit "Complete", class: "update_show_button" %></center>
<% end %>