<div class="box box-4">
  <p class="thumbnail-label"><%= show.name %></p>
  <%= image_tag show.show_img.gridlist.url %>
    <%= button_to('Show', show, method: :get)%>
    <li><%= button_to('Edit', edit_show_path(show), method: :get) if can? :manage, Show %></li>
    <li><%= button_to('Delete', show_path(show), method: :delete, data:{confirm: 'Delete the show? Are you sure?'}) if can? :delete, Show %></li>
</div>

