
<!-- <div style="transform: skewX(-15deg); transform: translate(5px,5px)" class="container avatarBox .text_center"> -->
<div>

  <div>

    <p><strong>Show Name: </strong><%= show.name%></p>

    <p><strong>Category: </strong> <%= show.category.try :name %></p>
    
    <p><%= image_tag show.show_img.medium.url %></p>
  
    <p>
      <%= button_to('Show', shows_path, method: :get)%>
      <%= button_to('Edit', edit_show_path(show), method: :get) if can? :manage, Show %>
      <%= button_to('Delete show', show_path(show), method: :delete, data:{confirm: 'Delete the show? Are you sure?'}) if can? :delete, Show %>
    </p>
  </div>
</div>
