<div>
    <strong>Show Name: </strong><%= show.name%>
    <strong>Category: </strong> <%= show.category.try :name %>
    <%= image_tag show.show_img.medium.url, class: "thumbnail" %>
    <%= button_to('Show', show, method: :get)%>
    <%= button_to('Edit', edit_show_path(show), method: :get) %>
    <%= button_to('Delete', show_path(show), method: :delete) %>
</div>
