<img class="bg" src="http://i252.photobucket.com/albums/hh27/OZ-Insanity/theater_zpstxpof3ik.jpg" alt="">
<br>
<div class="show_info_area">
  <div class="show_info_area_right">
    <p><%= link_to image_tag(@show.show_img.medium.url) %></p>
  </div>
  <div class="show_info_area_left">
  <h3><%= @show.name %></h3>
  <h3><%= @show.category.try(:name) %></h3>
  <h3><%= @show.category.try(:genre).try(:name) %></h3>
  </div>

  <%= link_to('Edit', edit_show_path(@show), class: "show_info_area_button-edit") if can? :update, Show  %>
  <%= link_to('Back', shows_path, class: "show_info_area_buttons-back") %>
    

  </div>

</div>