<div>
  <p><strong>Show Name:</strong><%= @show.name %></p>

  <p><%= link_to image_tag(@show.show_img.medium.url) %></p>

  <p><strong>Category: </strong><%= @show.category.try(:name) %></p>
  <p><strong>Genre: </strong><%= @show.category.try(:genre).try(:name) %></p>

  <div class="menu">
    <ul>
    <li><strong><%= link_to 'Edit', edit_show_path(@show) if can? :update, Show  %></strong></li>
    <li><strong><%= link_to 'Back', shows_path %></strong></li>
    </ul>

  </div>

</div>