
<div >
  <div>
  <p><strong>Show Name:</strong><%= performance.gig.try(:name) %></p>
  <p><strong>Venue Name: </strong> <%= performance.venue.try(:name) %></p>
  <p><strong>Schedule: </strong><%= performance.human_readable_date %></p>
  
  <ul style="transform: skewX(-25deg)">
    <li><%= button_to('Show', performance_path(performance), method: :get)%></li>
    <li><%= button_to('Edit', edit_performance_path(performance), method: :get) if can? :manage, Performance %></li>
    <li><%= button_to('Delete', performance_path(performance), method: :delete, data:{confirm: 'Delete the performance? Are you sure?'}) if can? :delete, Performance %></li>
  </ul><br>

</div>

</div>
