<img class="bg" src="<%= @performance.show.show_img %>" alt="">
<div class="show_info_area sia_small">
<br>
<h2><% @performance %></h2>

<br>
<div >
  <p><strong>Show: </strong><%= @performance.show.try(:name) %></p>

  <p><strong>Venue: </strong><%= @performance.venue.try(:name) %></p>

  <p><strong>Schedule: </strong><%= @performance.human_readable_date %></p>
  <br>

<%= link_to 'Back', performances_path, class: "show_info_area_button-back" %><%= link_to('Edit', edit_performance_path(@performance), class: "show_info_area_button-edit") if can? :update, Performance%>

</div>
</div>