<!DOCTYPE html>
<html>
<head>
  <title>GigRating</title>
  <%= stylesheet_link_tag    'application',  media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>


  <div class="container">

    <!-- <div class="navleft">
       <header id="header">
        <nav class="dc-menu">
          <a href="#" class="dc-menu-trigger"><span>Menu</span></a>
          <div class="menu-overlay">
            <ul>
              <li><%#= link_to "Home", root_path %></li>
              <li><%#= link_to "Venues", venues_path %></li>
              <li><%#= link_to "Shows", shows_path %></li>
              <li><%#= link_to "Genres", genres_path %></li>
              <li><%#= link_to "Performances", performances_path %></li>
              <li><%#= link_to "Categories", categories_path %></li>
              <li><%#= link_to "Show Reviews", show_reviews_path %></li>
              <li><%#= link_to "Venue Reviews", venue_reviews_path %></li>
            </ul>
          </div>
        </nav>
      </header> 
    </div>-->

    <div class="navmiddle">
      <%= render partial: "layouts/menu"%>
    </div>
    <div class="topmiddle">
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Genres", genres_path %></li>
        <li><%= link_to "Performances", performances_path %></li>
        <li><%= link_to "Categories", categories_path %></li>
        <li><%= link_to "Show Reviews", show_reviews_path %></li>
        <li><%= link_to "Venue Reviews", venue_reviews_path %></li>
        <% if user_signed_in? %>
        <li><%= link_to "Profile", user_path(current_user) %></li>
        <li><%= link_to "Account", edit_user_registration_path %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
        <li><%= link_to "Register", new_user_registration_path %></li>
        <li><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
    </div>

    <br>
    <%= yield %>
    <br>
    <div class="notice-messages">
    <p class="notice" style="color:white;"><%= notice %></p>
    <p class="alert" style="color:white;"><%= alert %></p>
    </div>
  </div>
</body>
</html>